
<nav class="navbar navbar-default" role="navigation">

  <div class="container-fluid">
    <div class="navbar-header">
      <h1>SOAR</h1>
      <form id="route-form" class="form-inline">
<<<<<<< HEAD
        <input name="origin" type="text" class="form-control" id="new-food" placeholder=" Origin">
        <input name="destination" class="form-control" placeholder=" Destination">
        <button type="submit" class="btn btn-default"> Explore Route</button>
      </form> 
    </div> 
=======
          <input name="origin" type="text" class="form-control" id="origin" placeholder="Flight Origin">
          <input name="destination" class="form-control" id="destination" placeholder="Flight Destination">
          <button type="submit" class="btn btn-default">Find Route</button>
      </form>

    </div>    

>>>>>>> 18b636a10dc6a0eec94212857d2f095c59b3240b
  </div>
</nav>