
<nav class="navbar navbar-default" role="navigation">

  <button id="#show-button" class="hidden-button"> < </button>

  <div class="container-fluid">
    <div class="navbar-header">
      <button id="hide-button"> > </button>
      <h1>SOAR</h1>
      <form id="route-form" class="form-inline">
        <input name="origin" type="text" class="form-control" id="new-food" placeholder=" Origin">
        <input name="destination" class="form-control" placeholder=" Destination">
        <button type="submit" class="btn btn-default"> Explore Route</button>
      </form> 
    </div> 
  </div>
</nav>