
<nav class="navbar navbar-default" role="navigation">

  <div class="container-fluid">
    
    <div class="navbar-header">

      <h1>Welcome to Soar - Enter your route and let's fly!</h1>

      <form id="route-form" class="form-inline">
          <input name="origin" type="text" class="form-control" id="origin" placeholder="Flight Origin">
          <input name="destination" class="form-control" id="destination" placeholder="Flight Destination">
          <button type="submit" class="btn btn-default">Find Route</button>
      </form>

    </div>    

  </div>

</nav>