<!DOCTYPE html>
<html lang="en">
<head>

  <% include partials/head %>
</head>

<body>
  <h1>Welcome to Soar</h1>
  <h2>This should be an admin list of comments and details</h2>

  <ul id="list-comments">
    </ul>

  <script type="x-tmpl-mustache" id="comment-template">
  <div class="row">
    <div class="comment">
      <span class="username">{{ username }}</span>
      <span class="body"> {{ body }}</span>
      <span class="body"> {{ createdtime }}</span>

    </div>
  </div>
</script>
  
  <script src="/js/comments.js"></script>
</body> 
</html>