edit

<%= route.start %>
<%= route.end %>

 <form id="route-edit-form" class="form-inline">
          <input name="start" type="text" class="edit-form" id="new-route" value="">
          <input name="destination" class="form-control" value="Flight Destination">
          <button type="submit" class="btn btn-default">Find Route</button>
      </form>