<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %>
</head>

<body>
  <h1>Welcome to Soar</h1>
  <h2>Enter your route and let's fly!</h2>
  <form id="route-form" class="form-inline">
      <input name="origin" type="text" class="form-control" id="new-food" placeholder="Flight Origin">
      <input name="destination" class="form-control" placeholder="Flight Destination">
      <button type="submit" class="btn btn-default">Find Route</button>

      <ul id="list-routes">
      </ul>
  </form>
  <div id="welcomeToSoar">
    Welcome to Soar. <br>Discover what's out there!
    <button id="closeModal">Let's do it!</button>
  </div>
  <div id='map' class='dark' ></div>
  
<body class="container">
<header>
  <% include partials/header %>
</header> 
  <main>    
    <div id="row">  
      <div class="col-sm-8"> 
          <div id='map' class='dark' ></div>
      </div>
      <div class="col-sm-4">
        <div class="well">
          All Routes:</br>
          <ul id="list-routes">
            </ul>
          All Places: </br>
          <ul id="list-places">
            </ul>
          </div>
      </div>     
    </div>
  </main>
<script src="/js/places.js"></script>
<script src="/js/routes.js"></script>
<script src="/js/app.js"></script>
<script src="/js/map.js"></script>
<script src="/js/modals.js"></script>

</body>
<footer>
    <% include partials/footer %>
</footer>
<script type="x-tmpl-mustache" id="route-template">
  <div class="row">
    <div class="route">
      <span class="origin">Origin: {{ start }}</span>
      <span class="startlat">Lat:{{ startlat }}</span>
      <span class="startlong">Long{{ startlat }}</span>

      <span class="destination">Dest: {{ end }}</span>
      <span class="endlat">Lat:{{ endlat }}</span>
      <span class="endlong">Long{{ endlat }}</span>      
    </div>
  </div>
</script>

<script type="x-tmpl-mustache" id="place-template">
  <div class="row">
    <div class="place">
      <span class="name">{{ name }}</span>
      
    </div>
  </div>
</script>

</html>