<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  




  
  <title>Soar</title>
</head>
<body>
  <h1>Welcome to Soar</h1>
  <h2>Enter your route and let's fly!</h2>
  <form id="route-form" class="form-inline">
      <input name="origin" type="text" class="form-control" id="new-food" placeholder="Flight Origin">
      <input name="destination" class="form-control" placeholder="Flight Destination">
      <button type="submit" class="btn btn-default">Find Route</button>

      <ul id="list-routes">
      </ul>
  </form>
</body>
</html>