/*.route {width: 120px;}*/

body {
	font-family: 'Roboto', sans-serif;
	color: rgba(255, 230, 0, 1);
}

h1 {
	color: rgba(255, 230, 0, .8);
	padding: 20px;
  text-align: center;
  font-size: 40px;
	letter-spacing: 10px;
}

input {
	background-color: black;
  margin-left: 10px;
  border: 1px solid;
  border-color: rgba(255, 230, 0, 1);
}

button {
	margin-left: 10px;
  width: 171px;
  background-color: black;
  border: 1px solid;
  text-align: left;
}

::-webkit-input-placeholder {
   color: rgba(255, 230, 0, 1);
}

.footer { 
	clear: both;
	position:fixed;
	left:0px;
	bottom:0px;
	height:30px;
	width:100%;
}

.navbar-header {
	width: 200px;
	height: 100%;
  position: fixed;
  right: 0px;
  background-color: rgba(0, 0, 0, .5);

}

#map {
	position: fixed; 
  top: 0; 
  left: 0; 
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}


#welcomeToSoar {
  background-image: url('../images/dazzle_camo.png');
  font-size: 22px;
  text-align: center;
  line-height: center;
  padding: 100px;
  color: #ff4303;
  font-family: 'Roboto', sans-serif;
  text-shadow: 0 0 0.2em #00000F, 0 0 0.2em #00000F,
        0 0 0.2em #00000F;
  font-size: 70px;
}


.no-close .ui-dialog-titlebar-close {
  display: none;
}

#closeModal {
  height:40px;
  width: 160px;
  font-size: 18px;
  background-color: #ff4303;
  box-shadow: none;
  border: none;
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  margin-top: 110px;
}

.path-start {
  -webkit-transition:stroke-dashoffset 5s ease-in;
     -moz-transition:stroke-dashoffset 5s ease-in;
       -o-transition:stroke-dashoffset 5s ease-in;
          transition:stroke-dashoffset 5s ease-in;
  }

  .container-fluid {
    
  }