
.route {width: 120px;}
.footer{clear: both;}

#map {
	width: 600px !important;
	height: 500px !important;
}

path {
	stroke-width: 1px;
  stroke: white;
  stroke-opacity: 1;
  stroke-dasharray: 5,5;
}

#welcomeToSoar {
  background-image: url('../images/dazzle_camo.png');
  font-size: 22px;
  text-align: center;
  line-height: center;
  padding: 100px;
  color: #ff4303;
  font-family: 'Exo 2', sans-serif;
  text-shadow: 0 0 0.2em #00000F, 0 0 0.2em #00000F,
        0 0 0.2em #00000F;
  font-size: 70px;
}


.no-close .ui-dialog-titlebar-close {
  display: none;
}

#closeModal {
  height:40px;
  width: 160px;
  font-size: 18px;
  background-color: #ff4303;
  box-shadow: none;
  border: none;
  text-align: center;
  color: white;
  font-family: 'Exo 2', sans-serif;
  margin-top: 110px;
}